div#top-header {
  text-align: center;
  width: 100%;
  margin: 30px auto;
  font-size: 35px;
}
.err-msg.ng-binding {
  text-align: center;
  color: red;
}
.success-msg.ng-binding {
  text-align: center;
  color: green;
  margin-top: 20px;
  font-weight: bold;
}
input#img-input {
  width: 80%;
  margin: 15px auto;
  display: block;
}
button#reset-btn {
  position: absolute;
  right: 0px;
  top: -10px;
}