div#top-header {
  text-align: center;
  width: 100%;
  margin: 30px auto;
  font-size: 35px;
}
.err-msg.ng-binding {
  text-align: center;
  color: red;
}
.success-msg.ng-binding {
  text-align: center;
  color: green;
  margin-top: 20px;
  font-weight: bold;
}