
<div class="container">
    <div class="row">
        <div id="top-header">Upload An Image</div>
    </div>
    <div class="col-md-6 offset-md-3 col-sm-8 offset-sm-2 col-xs-10 offset-xs-1">
       <div class="row" style="position: relative">
            <button id="reset-btn" class="btn btn-sm btn-danger" ng-click="clearInput()" type="reset" ng-show="image != null">Reset</button>
       </div>
        <div class="row">
            <div class="key-input">Please enter your super secret key</div>
            <input type="text" class="form-control" ng-model="key">
        </div>
       <div class="row">
            <input id="img-input" ng-disabled="!validKey()" type='file' ng-model-instant onchange="angular.element(this).scope().imageUpload(this)" />
            <img class="img img-fluid" id="image" ng-src="{{image}}" ng-hide="image == null" />
       </div>
    </div>
</div>

